{% extends "base.html" %}

{% block container %}
<table class="table-sm  table-hover table-bordered" >

        <thead style="background-color:#eaf4f5">
          <tr >
            <th scope="row"><center>Название отдела </center></th>
            <th scope="row"><center>ФИО </center></th>
            <th scope="row"><center>Общее количество баллов</center></th>
            <th scope="row"><center>Результат тестировния</center></th>
            <th scope="row"><center>Дата прохождения</center></th>

          </tr>
        </thead>
    {% for i in all_view %}
        <tbody>

          <td><center>{{i.departament}}</center></td>
          <td><center>{{i.users}}</center></td>
          <td><center>{{i.result_balls}}</center></td>
          {% if i.res == 'Тестирование не пройдено!'%}
          <td><center><b style="color:#f10303">{{i.res}}</b></center></td>
          {% endif %}
          {% if i.res == 'Тестирование пройдено!' %}
          <td><center><b style="color:#29e109">{{i.res}}</b></center></td>
          {% endif %}
          <td><center>{{i.dt}}</center></td>
        </tbody>
    {% endfor %}

</table>
{% endblock %}